<!-- 
<mat-card style="height: 9rem;">
    <div class="taskInfLayout" >
    <p [style.grid-area]="'taskName'">任务号: </p> 
    <p [style.grid-area]="'taskPos'">使用工位: </p> 
    <p [style.grid-area]="'alarm'">报警信息: </p> 
    </div>

    <div class="taskInfChartLayout">
        
        <div echarts [options]="chartOption" (chartInit)="onChartInit($event)" [merge]="updateOptions1" fxFlex="50%" style="height: 8rem;">
        </div>
        <div echarts [options]="chartOption" (chartInit)="onChartInit($event)" [merge]="updateOptions2" fxFlex="50%" style="height: 8rem;">
        </div>
    </div>
</mat-card> -->

<div class="taskInfChartLayout">
        
    <div echarts [options]="chartOption" [autoResize]="true" (chartInit)="onChartInit($event)" [merge]="updateOptions1"  fxFlex="50%" style="height: 100%;">
    </div>
    <div echarts [options]="chartOption" [autoResize]="true" (chartInit)="onChartInit($event)" [merge]="updateOptions2" fxFlex="50%" style="height: 100%">
    </div>
</div>