<!-- <app-header fxLayout="column" fxLayoutGap="32px"></app-header>

<div fxLayout="row" fxFlex="100" fxLayoutGap="32px">
 <app-sidebar fxLayout="column" fxFlex="300px"></app-sidebar>
 <div class="content" fxLayout="column" fxFlex>
   
 </div>
</div> -->


<style>
  .mLayout {
    display: grid;
    grid-template-areas: "header header" "side content" ;
    grid-template-rows: 2rem auto;
    grid-template-columns: 6rem auto;
    grid-row-gap: 0.2rem;
    grid-column-gap: 0.2rem;
    /* background-color: #7099A8; */
    background-color: #808080;
    height: 100%;
  }
</style>


<div class="mLayout">
  <app-header [style.grid-area]="'header'"></app-header>
  <app-sidebar [style.grid-area]="'side'" style="background-color: #808080;">
    Side
  </app-sidebar>
  <div [style.grid-area]="'content'" style="min-width: 100%;min-height:100%; ">  <!-- width:auto -->
    <router-outlet></router-outlet>
  </div>
</div>
 