.content {    
    flex: 1; 
    height: 100%;
    display: flex;
    flex-direction: column;
}
.mat-card {
    margin-right: 0.1rem;
}
.cLayout {    
    display: flex;
    flex-direction: column; 
    height: 100%;
}
