:host {
    font-size: 0.5rem;
}

.input-field {
    width: 20rem;
}

.buttonSize {
    font-size: 0.6rem;
    height: 1.6rem;
    background-color: rgb(97, 97, 97);
    margin-bottom: 0.1rem;
    margin-right: 0.1rem;
}

/* .changeSize {
    height: 16px !important;
    width: 10px !important;
    padding: 2px !important;
    font-size: 16px;
} */
nz-date-picker,
nz-range-picker {
    margin: 0 8px 12px 0;
}


.cLayout {
    
    display: flex;
    height: 100%;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{ -webkit-appearance:none; }


.footer {
    background-color: #D0EBF4;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content {    
    flex: 1; 
    overflow-y: auto; 
    overflow: auto;
}
.footerButton {
    font-size: 0.8rem;
    margin-right:2rem;
    margin-top: 0.3rem;
     height: 1.4rem;
     width:4rem;
     background-color:tomato;
}
.item {
    width: 4rem;
    font-size: 0.7rem;
}

.item:hover {
    cursor: default;
    font-weight: bolder;
    font-size: 0.75rem;
    color: yellow;
}