<div class="cLayout">

    <!-- <div  style="width: auto;padding-right: 0.3rem;" class="content">
        
    </div> -->
    <mat-card style="width: auto;margin-right: 0.3rem;margin-bottom: 0.3rem;"  class="content">
      <mat-card-title> 单缸任务</mat-card-title>

      <mat-card-content  fxLayout="column">

        <div>
          <mat-form-field style="width: 5rem;" appearance="fill">
            <mat-label class="SetFontSize">选择工位</mat-label>
            <mat-select (selectionChange)="posSelChanged($event)" class="SetFontSize">
              <mat-option *ngFor="let pos of poses" [value]="pos.value" class="SetFontSize">
                {{pos.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-icon style="margin-left:1rem;color: red;" *ngIf="!hideWarn_Pos">warning</mat-icon>
          </div>
        <div>
          <p style="width:3.6rem;" class="SetFontSize">力值设定 </p> <p style="width:1.5rem;" class="SetFontSize">{{valForce}}</p>
          <mat-slider  min="500" max="2000" step="10" [value]= "valForce" aria-label="unit(s)" fxFlex="80%" class="slider" (input)="setValue_Force($event)"></mat-slider>
        </div>
        
        <div style="margin-top: 1rem;">
          <p style="width:3.6rem;" class="SetFontSize">次数设定  </p> <p style="width:1.5rem;" class="SetFontSize">{{valTimes}}</p>
          <mat-slider timesSlider min="0" max="1000" step="10" [value]= "valTimes" aria-label="unit(s)" fxFlex="80%" class="slider" (input)="setValue_Times($event)"></mat-slider>
        </div>

        
        <div style="margin-top: 1rem;" fxLayout="row" >
          <p style="width:3.6rem;" class="SetFontSize">任务类型</p>
          <mat-form-field style="width: 5rem; "  appearance="fill">
            <mat-select (selectionChange)="tskTypeSelChanged($event)" class="SetFontSize">
              <mat-option *ngFor="let tskTyp of taskTypes" [value]="tskTyp.value" class="SetFontSize">
                {{tskTyp.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
           <mat-icon style="margin-left:1rem;color: red" *ngIf="!hideWarn_TskType">warning</mat-icon>  
        </div>
      </mat-card-content>

    </mat-card>

    <div  class="footer" >
      <mat-progress-bar [mode]="barMode" style="height:0.3rem;margin-left: 1rem;margin-top: 1rem;" fxFlex="70%" ></mat-progress-bar>
      <button mat-flat-button  class="footerButton" (click)="runTask()"> 执行任务 </button>
    </div>
    
</div>
   