<div fxLayout="column" >
    <!-- <button mat-flat-button style="font-size: 1rem;text-align:left;padding: 1rem 0 1rem 0.8rem; " (click)="onCylinderView()">工位状态</button>
    <button mat-flat-button style="font-size: 1rem;text-align:left;padding: 1rem 0 1rem 0.8rem;" (click)="onTaskView()">任务状态</button>
    <button mat-flat-button style="font-size: 1rem;text-align:left;padding: 1rem 0 1rem 0.8rem;" (click)="onTaskHistory()">历史任务</button>
    <button mat-flat-button style="font-size: 1rem;text-align:left;padding: 1rem 0 1rem 0.8rem;" (click)="onMenuView()">菜单设置</button> -->
    <!-- <button mat-flat-button style="font-size: 1rem;text-align:left;padding: 1rem 0 1rem 0.8rem;" (click)="onTaskView()">任务状态</button> -->
    <button mat-flat-button style="font-size: x-large;text-align:center;padding: 1rem 0 ;" (click)="onRealTimeChartView()">Realtime Data</button>
    <button mat-flat-button style="font-size: x-large;text-align:center;padding: 1rem 0 ;" (click)="onNewCollectTaskView()">New Task</button>
    <button mat-flat-button style="font-size: x-large;text-align:center;padding: 1rem 0 ;" (click)="onHistoryCollectedTaskView()">Task History</button>
    <button mat-flat-button style="font-size: x-large;text-align:center;padding: 1rem 0 ;" (click)="onDevMaintainView()">Maintain</button>
    <button mat-flat-button style="font-size: x-large;text-align:center;padding: 1rem 0 ;" (click)="onSystemStatusView()">System Status</button>
    <!-- <button mat-flat-button style="font-size: 1rem;text-align:left;padding: 1rem 0 1rem 0.8rem;" (click)="onRealTimeChartView8chn()">实时数据8t</button> -->
    <!-- <button mat-flat-button style="font-size: 1rem;text-align:left;padding: 1rem 0 1rem 0.8rem;" (click)="onHistoryCollectedTaskView8chn()">历史任务8t</button> -->
    <!-- <button mat-flat-button style="font-size: 1rem;text-align:left;padding: 1rem 0 1rem 0.8rem;" (click)="onSystemConfigView()">系统设置</button> -->
    <!-- <div class="card" ><p class="cardP">1. One</p></div>
    <div class="card"><p class="cardP">2. One22</p></div>
    <div class="card"><p class="cardP">3. One333</p></div>
    <div class="card"><p class="cardP">4. One</p></div> -->
 </div>
