.mat-card {
    margin-right: 0.1rem;
}

.cyInf {
    /* display: flex;
    flex-direction: column; */
    height: 100%;
   
    margin-right:0.2rem;
    background-color: rgb(90, 88, 88);
  }

canvas {
    height:1;
    width:3;
}

.chartBox > div{
    width: 5rem;
}

.buttonSize {
    font-size: 0.6rem;
    height: 1.6rem;
    background-color: rgb(97, 97, 97);
    margin-bottom: 0.1rem;
    margin-right: 0.1rem;
}
.SetFontSize{
    font-size: 0.6rem;
}