<style>
    .cyInfLayout {
      display: flex;
      flex-direction: row;
      height: 100%;
    }
    /* .item {
      flex-grow: 1;
    } */
  </style>

  <div class="cyInfLayout">
    <app-cylinder-info [PosIdx]="1" class="item" fxFlex="25%"></app-cylinder-info>
    <app-cylinder-info [PosIdx]="2"  class="item" fxFlex="25%"></app-cylinder-info>
    <app-cylinder-info [PosIdx]="3" class="item" fxFlex="25%"></app-cylinder-info>
    <app-cylinder-info [PosIdx]="4" class="item" fxFlex="25%"></app-cylinder-info>
  </div>
  