.taskInfLayout {
    font-size: 0.7rem;
      display: grid;
      grid-template-areas: "taskName taskPos  alarm" ;
      grid-template-columns: 2 1 1;
      grid-column-gap: 0.2rem;
      background-color: gray;
      padding-left: 0.5rem;
      height: 1.5rem;
      padding-top: 0!important;
  }
  p {
    margin-top: 0.3rem;
  }
    
  .taskInfChartLayout {
      display: flex;
      flex-direction: row;
    }
  .item {
    flex-grow: 1;
  }