<div class="cLayout">
    <mat-card class="content" style="margin-right: 0.3rem;margin-bottom: 0.3rem;">
        <mat-card-title>Collected Information</mat-card-title>
        <!-- <img mat-card-image src="assets/image/cylinder.jpg" alt="Air Cylinder" style="width:50%;height:50%;">  -->
        <mat-card-content #divUpponChart style="flex:1;">
            <div #mychart echarts [options]="chartOption" class="chartBox" [autoResize]=true
                (chartInit)="onChartInit($event)" [merge]="updateOptions" style="height: 100%;width: 100%;">
            </div>
        </mat-card-content>
        <div fxLayout="row" style="height:1px; background-color:darkgrey;"></div>
        <div class="footer" style="height: auto; width: 100%;">
            <div fxLayout="row" style="width:100%;margin-top: 0.2rem;align-items: flex-end;">
                <!-- checkbox group test line -->
                <div *ngFor="let group of groups, let gIdx = index">
                    <mat-checkbox class="example-margin" style="width: 4rem;padding-left:0.4rem; font-size: 0.6rem;
                    background-color: gray;border-radius: 0.2rem 0.2rem 0rem 0rem;" [(ngModel)]="group.allChecked"
                        [(indeterminate)]="group.indeterminate" (change)="updateAllChecked(gIdx,$event.checked)">Grouped
                        {{gIdx + 1}}</mat-checkbox>
                    <div class="cyInf" fxLayout="row" style="width: 20rem;padding-top: 0.2rem;">
                        <div fxLayout="row" style="margin-top: 0.2rem;padding-left: 0.2rem;"
                            *ngFor="let channel of group.channels;">
                            <mat-checkbox (change)="updateSingleChecked(channel,$event.checked)"
                                [checked]="channel.checked" name="{{group.groupIdx}}-channel{{channel.name}}">
                                Path-{{channel.name}}</mat-checkbox>
                            <p class="temperature" style="width:2rem;">{{channel.temperature}} °C</p>
                        </div>
                    </div>
                </div>
                <!-- checkbox group test line -->
                <div style="flex:1; display: flex; flex-direction: row;justify-content: end;">
                    <div fxLayout="row">
                        <button mat-raised-button color="primary" class="buttonSize" style="width: 5.5rem;"
                            *ngIf="hasTask" (click)="showCalcResult()">Calculation Result</button>
                        <button mat-raised-button color="primary" class="buttonSize" style="width: 5.5rem;"
                            *ngIf="hasTask" (click)="stopTask()">End Collection Task</button>
                    </div>
                </div>
            </div>
            <nz-drawer [nzClosable]="false" [nzVisible]="showCalcResultFlg" [nzPlacement]="placement" [nzExtra]="extra"
                nzTitle="Calculation Result" (nzOnClose)="close()" [nzClosable]=true nzHeight="24rem" nzWidth="22rem">
                <ng-container *nzDrawerContent>
                    <nz-table #headerTable [nzData]="calcData" [nzPageSize]="15" [nzScroll]="{ y: '18rem' }"
                        [nzLoading]="isCalcTableLoading" [nzLoadingIndicator]="indicatorTemplate">
                        <thead>
                            <tr class="tableFontSize">
                                <th>Choose Path</th>
                                <th>MIN</th>
                                <th>MAX</th>
                                <th>P-P</th>
                                <th>Mean</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tableFontSizeLarge" *ngFor="let data of headerTable.data">
                                <td>{{ data.channelName}}</td>
                                <td>{{ data.min}}</td>
                                <td>{{ data.max}}</td>
                                <td>{{ data.pp}}</td>
                                <td>{{ data.mean}}</td>
                            </tr>
                        </tbody>
                    </nz-table>
                    <ng-template #indicatorTemplate>
                        <div class="circle-loading-svg">
                            <svg height="50" width="50" viewBox="0 0 50 50">
                                <circle id="circle" cx="25" cy="25" r="20" />
                            </svg>
                        </div>
                    </ng-template>
                </ng-container>
            </nz-drawer>

            <ng-template #extra>
                <label class="tableFontSize">Calculation Path： </label>
                <input class="tableFontSizeLarge" nz-input placeholder="" nzSize="middle" maxlength="3"
                    [(ngModel)]="rangeLeft"
                    style="width: 1.6rem;text-align: center;background-color: rgb(97, 97, 97);" />
                <label> °C ~ </label>
                <input class="tableFontSizeLarge" nz-input placeholder="" nzSize="middle" maxlength="3"
                    [(ngModel)]="rangeRight"
                    style="width: 1.6rem;text-align: center;background-color: rgb(97, 97, 97);" />
                <label style="margin-right: 5rem;"> °C</label>
                <!-- <button nz-button nzType="default" style="width:2rem;background-color: rgb(97, 97, 97);"
                    (click)="requestCalcDataByTask()">计算</button> -->
                <button class="tableFontSize" mat-raised-button color="primary" class="buttonSize"
                    style="width:3rem;height: 1.2rem;" (click)="requestCalcDataByTask()">Calculation</button>
            </ng-template>

            <nz-modal style="font-size: 0.5rem;" [(nzVisible)]="showDialog" nzTitle="Hint" (nzOnCancel)="handleCancel()"
                (nzOnOk)="handleOk()">
                <ng-container *nzModalContent>
                    <p style="font-size: 0.5rem;">{{dialogMsg}}</p>
                </ng-container>
            </nz-modal>

        </div>
    </mat-card>
</div>
