:host {
    font-size: 0.5rem;
}

.mat-card {
    margin-right: 0.1rem;
}

.cyInf {
    /*  */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    margin-right: 0.4rem;
    padding-left: 0.2rem;
    background-color: rgb(90, 88, 88);
}

.temperature {
    margin-left: 0.5rem;
}

canvas {
    height: 1;
    width: 3;
}

.chartBox>div {
    width: 5rem;
    height: 100%;
}

.buttonSize {
    font-size: 0.6rem;
    height: 1.6rem;
    background-color: rgb(97, 97, 97);
    margin-bottom: 0.1rem;
    margin-right: 0.1rem;
}

.SetFontSize {
    font-size: 0.6rem;
}

.cLayout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.footer {
    display: flex;
    flex-direction: row;
}

.content {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tableFontSize {
    font-size: 0.5rem;
    color: ivory;
}

.tableFontSizeLarge {
    font-size: 0.6rem;
    color: ivory;
}

.loader {
    position: relative;
    margin: 0 auto;
    width: 4rem;
}

.circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

#circle {
    animation: loading-circle 1.4s ease-in-out infinite;
    /* 圆内填充 */
    fill: none;
    /* 圆周颜色 */
    stroke: ivory;
    /* 圆周宽度 */
    stroke-width: 0.2rem;
}

@keyframes loading-circle {
    0% {
        stroke-dasharray: 1px 200px;
        stroke-dashoffset: 0;
    }

    30% {
        stroke-dasharray: 100px 200px;
        stroke-dashoffset: -15px;
        stroke: gray;
    }

    100% {
        stroke-dasharray: 100px 200px;
        stroke-dashoffset: -120px;
    }
}

.circle-loading-svg {
    animation: loading-rotate 1.4s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;

}

@keyframes loading-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1turn);
    }
}

tbody tr:hover{
    cursor: default;
    font-weight: bolder;
    font-size: 0.65rem;
    color: yellow;
}