<div class="cLayout">

  <mat-card style="width: auto;margin-right: 0.3rem;margin-bottom: 0.3rem;"  class="content">
    <mat-card-title> 双缸任务</mat-card-title>

    <mat-card-content  fxLayout="column">

        <mat-form-field style="width: 5rem; margin-top: 1rem;"  appearance="fill">
          <mat-label>选择工位</mat-label>
          <mat-select>
            <mat-option *ngFor="let pos of poses" [value]="pos.value">
              {{pos.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
      <div>
        <p style="width:3rem;">力值设定</p>
        <mat-slider  min="500" max="2000" step="20" value="1000" aria-label="unit(s)" fxFlex="76%" class="slider"></mat-slider>
      </div>
      
      <div style="margin-top: 1rem;">
        <p style="width:3rem;">次数设定</p>
        <mat-slider  min="500" max="2000" step="20" value="1000" aria-label="unit(s)" fxFlex="76%" class="slider"></mat-slider>
      </div>
      

      <mat-form-field style="width: 5rem; margin-top: 1rem;" appearance="fill">
        <mat-label>选择工位</mat-label>
        <mat-select>
          <mat-option *ngFor="let pos of poses" [value]="pos.value">
            {{pos.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
    <div>
      <p style="width:3rem;">力值设定</p>
      <mat-slider  min="500" max="2000" step="20" value="1000" aria-label="unit(s)" fxFlex="76%" class="slider"></mat-slider>
    </div>
    
    <div style="margin-top: 1rem;">
      <p style="width:3rem;">次数设定</p>
      <mat-slider  min="500" max="2000" step="20" value="1000" aria-label="unit(s)" fxFlex="76%" class="slider"></mat-slider>
    </div>


    <div style="margin-top: 1rem;" fxLayout="row">
      <p style="width:3rem;">任务类型</p>
      <mat-form-field style="width: 5rem; "  appearance="fill">
        <mat-select>
          <mat-option *ngFor="let tskTyp of taskTypes" [value]="tskTyp.value">
            {{tskTyp.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    </mat-card-content>



  </mat-card>

  <div  class="footer" >
    <!-- determinate' | 'indeterminate' | 'buffer' | 'query -->
    <mat-progress-bar [mode]="barMode" style="height:0.3rem;margin-left: 1rem;margin-top: 1rem;" fxFlex="70%" ></mat-progress-bar>
    <button mat-flat-button  class="footerButton" (click)="runTask()"> 执行任务 </button>
  </div>
  
    
</div>
   